.search{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
    border: 1px solid #EFEFEF;
    background: #FCFCFD;
    padding: 16px 30px 16px 44px;
    border-radius: 10px;
    min-width: 200px;
}

.input-wrapper{
    position: relative;
}

.icon{
    position: absolute;
    left: 15px;
    top:17px;
}